:root {
  --text-dark-grey: #888888;
  --text-black: #2D2D2D
  --text-white: #FFFFFF
  --text-positive: #409230;
  --text-negative: #e4162f;
  --text-netutral: var(--color-primary-dark-blue);
  --text-pending: #e47410;

  --link-static: var(--color-primary-dark-blue);
  --link-hover: var(var(--color-primary-dark-blue-hover));
}

/* semantic color variables for this project */
:root {
  --color-background: #FFFFFF;
  --color-background-form: #f7f9fa;
  --color-primary-dark-blue: #327DDA;
  --color-primary-dark-blue-hover: #2265BA;

  --color-status-positive: #e2efe0;
  --color-status-negative: #fbdce0;
  --color-status-neutral: #e0ecf9;
  --color-status-pending: #fbeadb;

  --input-border: #BDBDBD;
  --input-border-focused: #4D4D4D
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: var(--text-black);
  background: var(--color-background);
  font-family: Inter, -apple-system, sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
