@import './base.css';
@import url('https://fonts.cdnfonts.com/css/geomanist');

a {
  color: var(--link-static);
  text-decoration-line: underline;
  font-weight: 500;
  font-size: 12px;
}

h1 {
  font-family: Geomanist, -apple-system, sans-serif;
  font-weight: 700;
  font-size: 24px;
}

h3 {
  font-family: Geomanist, -apple-system, sans-serif;
  font-weight: 400;
}

input {
  border: 1px solid var(--input-border);
  border-radius: 4px;
}

input:focus {
  border: 1px solid var(--input-border-focused);
  outline: none;
}

button {
  width: 399px;
  border-radius: 4px;
  background: var(--button-primary);
  padding: 17px 0px;
  border: none;
  color: var(--text-white);
  font-size: 14px;
  font-family: Inter;
  font-weight: 600;
  cursor: pointer;
  margin-top: 32px;
}

button:hover {
  background: var(--button-hover);
}

button:disabled {
  background: var(--button-primary);
  pointer-events: none;
  opacity: 0.5;
}

@media (hover: hover) {
  a:hover {
    color: var(--link-hover);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
  }
}
